<div class="log">
  <div class="input1">
    <input type="text" placeholder="username" [(type)]="username"><br />
  </div>
  <div class="input2">
    <input type="text" placeholder="password" [(value)]="password">
  </div>
  <button (click)="login()">log-in</button>
   <input class="checkbox" type="checkbox">
  <h3>remember me</h3>
  <div class="new">
    <h2>New here <a href="">sign-up</a></h2>
  </div>
  <div class="recapt">
    This page is protected by Google
    reCAPTCHA to ensure you're not a bot.
  </div>
</div>

<div class="back">

</div>


