*{
  margin: -0%;
  padding: -0%;
  box-sizing: border-box;
}
body {
	
}
header{
  display: flex;
  width: 100%;
  height: 10vh;
	background:black;
  z-index: 20;
  position: fixed;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding-left: 20px;
  padding-right: 20px;
}
.logo{
	font-size: 18px;
}

.buton{
	display: flex;
}
button{
	display: flex;
	width: 70px;
	height: 30px;
	border: 5% ;
	border-radius: 10px;
	margin: 3px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
}
button:hover{
	width: 72px;
	height: 32px;
	transition:0.5s;
}
.buton1 button{
	border: 2px solid purple;
	background: none;
	
}
.buton2 button{
	border: 2px none ;
	background-color: purple;
}

.background{
	display: flex;
  width: 100%;
  height: 100vh;
}
.cover{
	display: flex;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
img{
  width: 100%;
  height: 100vh;
}
.search{
	display:flex;
	position:absolute;
	top:20%;
	justify-content: center;
}
input{
	width: 80vh;
	height:30vh;
	font-size:18px;
	border-radius:10px;
	
}
.route {
	position: absolute;
	left: 20%;
	background-color: aqua;
}