<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header>
    <div class="head">
			<div class="logo">
				¬
			</div>
			<div class="buton">
				<div class="buton1">
					<button>log-in</button>
				</div>
				<div class="buton2">
					<button>sign-up</button>
				</div>
			</div>
		</div>
	</header>
	<div class="background">
		<div class="cover">
			<img src="assets/images/ps controller.jpeg" alt="">
		</div>
	</div>
	<div class="welcometext">
		<h1>Welcome we give everything you want around here </h1>
	</div>
	<div class="search">
		<input type="text" placeholder="search">
	</div>
	<div class="welcometext2">
		Lorem ipsum dolor
		 sit amet consectetur 
		 adipisicing elit.
		  Debitis, aliquam.
	</div>
	<div class="lnsin">
		<a href="">log-in</a>
		<h3>if you dont have an account <a href="">sign-up</a></h3>
	</div>
	
		
	











		
	<router-outlet></router-outlet>